<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>나의 제휴업체 관리</title>
</head>
<body>
<div class="container">
  <h1 align="center">제휴 관리</h1>
    <table class="table table-striped">
      <thead>
        <th v-for = "item in header">{{item}}</th>
      </thead>
      <tbody>
        <tr v-for="line in userdata">
          <td v-for="item in line"><span v-html="item"></span></td>
        </tr>
      </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el : '.container', 
      data : {
        header: ["제휴 업체","제휴 관리","쿠폰 관리", "제휴 만료"] ,
        userdata:[
          ['솜솜이의 커피숍','<a href="">이동하기</a>','<a href="">이동하기</a>', '2022-12-21'],
          ['솜솜이의 방탈출가게','<a href="">이동하기</a>','<a href="">이동하기</a>', '2022-12-20'],
          ['솜솜이의 전시관','<a href="">이동하기</a>','<a href="">이동하기</a>','2022-12-22']
        ]
      }
    })
</script>
</html>

