<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>리뷰 작성 완료</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<style>
	div {
	    	text-align : center;
	}
	table {
		margin : auto;
	}
	.img img {
		width:30px;
		heght:30px;
	}
</style>
<script th:inline="javascript">
/* <![CDATA[*/
function update (){
   var link = "/review/update/"+/*[[${review.reviewId}]]*/ 'null';
   location.href=link;
}
function del (){
	   var link = "/review/delete/"+/*[[${review.reviewId}]]*/ 'null';
	   location.href=link;
	}
function like (){
	   var link = "/review/like/"+/*[[${review.reviewId}]]*/ 'null';
	   location.href=link;
	}
function dislike (){
	   var link = "/review/dislike/"+/*[[${review.reviewId}]]*/ 'null';
	   location.href=link;
	}
function showPopup(){
	
	var width = 1200;
	var height = 350;

	var popupX = (window.screen.width / 2) - (width / 2);
	var popupY= (window.screen.height / 2) - (height / 2);
	
	var link = "/report/review/"+/*[[${session.review.reviewId}]]*/ 'null';

	openWin = window.open(link,"신고 페이지","height=" + height  + ", width=" + width  + ", left="+ popupX + ", top="+ popupY / 2);  
}
/*]]>*/
</script>
<body>
	<div><h3><span th:text="${review.courseName}"></span> 리뷰</h3>
		<table id="review">
			<tr>
				<td><th:block th:unless="${isWriter}"><span th:unless="${like}" class="img"><a onclick="like();"><img src="../../img/like1.png"></a></span>
						<span th:if="${like}" class="img">
							<a onclick="dislike()"><img src="../../img/like2.png"></a>
						</span>
					</th:block>
					<th:block th:if="${isWriter}"><span class="img"><img src="../../img/like2.png"></span></th:block>
				</td>
				<td><span th:if="${isWriter}"><button class="btn-primary" type="button" onclick="update();">수정하기</button>
					<button class="btn-primary" type="button" onclick="del();">삭제하기</button>
				</span>
				
				</td>
			</tr>
			<tr>
				<td>
				Likes <span th:text="${review.likes}"></span>
				</td>
			</tr>
			<tr>
				<td>작성자 : </td>
				<td th:text="${writer}"></td>
			</tr>
			<tr>
				<td>작성 날짜 : </td>
				<td th:text="${review.writtenDate}"> </td>
			</tr>
			<tr>
				<td>리뷰 내용 : </td>
				<td th:text="${review.reviewContents}"></td>
			</tr>
			<tr>
				<td>사진 </td>
				<td><img th:src="@{${review.photos}}"/></td>
			</tr>
			<tr th:if="${isWriter == false}">
				<td colspan="2">
				<button class="btn-primary" type="button" onclick="showPopup();">신고하기</button>
          		</td>
			</tr>
		</table>
	</div>
	
</body>
</html>