<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>코스모스</title>
<header id="header">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<style>
		.top {
			width : 100%;
		}
		.left, .right {
			width : 30%;
		}
		.logo {
			width : 40%;
		}
		td {
			text-align:center;
		}
		.logo img{
			object-fit: contain;
		}
		.message {
			font-size : 20px;
		}
	</style>
	<script>
	$(document).ready(function(){
		$('#tooltip').css('display', 'none');
		$('#points').css('color', 'blue');
		$('#points').hover(function() {
			$('#tooltip').css('display','');
		}, function() {
			
		});
		$('#close').onclick(function() {
			$('#tooltip').css('display','none');
		});
	});
	</script>
	
	<table class="top">
		  <tr>	
		  	<td class="left">
		  		<button class="btn btn-outline-primary" id="register_course" onclick="location.href='/review/register/1'">코스 등록</button>
		  		<button class="btn btn-outline-primary" id="register_company" onclick="location.href='/company/register'">제휴 등록</button>
		  	</td>
		    <td class="logo">
		        <a href="/"><img alt="로고" src="../../img/logo.png" width="200"></a>
		    </td>
		    <td class="right" >
		      <span class="message"><a href="/mypage"><span th:text="${session.sessionMember.nickName}"></span></a>님 안녕하세요. </span>
		      <span class="message"><a href="/member/points" id="points"> <span th:text="${session.sessionMember.points}"></span> Points</a></span>
		      	<span id="tooltip" class="tooltip-text">
		      		
				      <table class="table table-striped">
				      	<tbody>
								<tr th:each="p : ${session.pointList}">
									<td th:text="${p.getPointsDate()}"></td>
									<td th:text="${p.getTypeString()}"></td>
									<td th:text="${p.getTypeString2()}"></td>
								</tr>
			        		<tr>
			        			<td colspan="3"><a href="/member/points">더보기</a>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="$('#tooltip').css('display','none');" value="닫기" style="font-size:15px;"></td>
			        		</tr>
			      		</tbody>
				    </table>
				</span>
					
					<button type="button" class="btn btn-outline-primary" onclick="location.href='/member/logout'">로그아웃</button>
			</td>
		      
		  </tr>
		</table>
		<div v-for="info in infos"><span v-html="info"></span></div>
		<hr>
</header>
</html>