<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>제휴 상세보기</title>
</head>
<body>
<div class="container">
  <h1 align="center">제휴 상세보기</h1><br>
  <h4 align="center">{{userName}}님의 <b>{{companyName}}</b>에 관한 정보입니다.</h4>
    <table class="table table-striped">
      <thead>
        <th v-for = "item in header">{{item}}</th>
      </thead>
      <tbody>
        <tr v-for="line in userdata">
          <td v-for="item in line"><span v-html="item"></span></td>
        </tr>
      </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el : '.container', 
      data : {
        header: ["쿠폰 등록 수","발행 수","이용 수", "가게 등록 해지", "제휴 만료 기간"] ,
        userdata:[
          ['2','100','33','<a href="">해지하기</a>','2022-12-21']
        ],
        userName : "솜솜",
        companyName : "솜솜이의 커피숍",
      }
    })
</script>
</html>

